*, *::after, *::before {box-sizing: border-box;}

body{
    background-image: url(../imagens/noite.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, nav, h3{
    text-align: center;
}   

h1, h2, h3, p, h4, li, figcaption{
    color: white;
}

h3{
    font-size: 25px;
}

a, p{
    font-size: 20px;
}

h4{
    font-size: 23px;
}

a{
    text-decoration: none;
    color: white;
}

#marcia{
    background-color: rgba(255, 255, 255, 0.267);
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: black 5px 5px 5px;
}

img{
    max-width: 100%;
}

.menu{
    background-color: rgba(255, 255, 255, 0.63);
    margin: auto;
    width: fit-content;
    color: black;
}

.arredondar{
    border-radius: 10px;
}

/* hover= passar o mouse por cima e trocar a cor */
nav a:hover {
    background-color: grey;
    color: white;
    padding: 5px 5px;
    width: 33.33;
    display: inline-block;
}
