*, *::after, *::before {
    font-family: Georgia, 'Times New Roman', Times, serif;
     box-sizing: border-box;
    }

body {
    background-color: #2EB3DB;
}

h1, h2, p {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

#container {
    background-color: #73c7e1d2;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

ul, li {
    list-style: none;
    text-align: center;
}

img {
    max-width: 100%;
}